@using CrescentIsland.Website.Models
@using CrescentIsland.Website.Helpers
@model CharacterPageModel

@{
    ViewBag.Title = "Character";
}

<div class="row">
    <div class="col-xs-12">
        <h2 class="text-center">Character</h2>
        <div class="col-lg-6">
            <div class="character-class">
                @switch (Model.UserClass)
                {
                    case UserClass.Valkyrie:
                        <div class="class-valkyrie">
                            <img src="~/Assets/Images/Classes/class-valkyrie.png" />
                            <div class="valkyrie-face"></div>
                        </div>
                        break;
                    case UserClass.Warrior:
                        <div class="class-warrior">
                            <img src="~/Assets/Images/Classes/class-warrior.png" />
                            <div class="warrior-face"></div>
                        </div>
                        break;
                    case UserClass.Sorceress:
                        <div class="class-sorceress">
                            <img src="~/Assets/Images/Classes/class-sorceress.png" />
                            <div class="sorceress-face"></div>
                        </div>
                        break;
                    case UserClass.Rogue:
                        <div class="class-rogue">
                            <img src="~/Assets/Images/Classes/class-rogue.png" />
                            <div class="rogue-face"></div>
                        </div>
                        break;
                    case UserClass.Engineer:
                        <div class="class-engineer">
                            <img src="~/Assets/Images/Classes/class-engineer.png" />
                            <div class="engineer-face"></div>
                        </div>
                        break;
                    case UserClass.Samurai:
                        <div class="class-samurai">
                            <img src="~/Assets/Images/Classes/class-samurai.png" />
                            <div class="samurai-face"></div>
                        </div>
                        break;
                    default:
                        break;
                }
            </div>
        </div>
        <div class="col-lg-6 col-xs-offset-2 col-lg-offset-0">
            <div class="sub-title">
                <span class="sprite-icon sprite-icon-knuckle"></span>
                Progress
            </div>
            <div class="row character-stats-row">
                <div class="col-xs-3 character-stats-name">
                    Class:
                    <span class="character-stats-info">
                        Class is chosen when creating a new account.<br />
                        Classes effect stats and which equipment and spells that can be used.
                    </span>
                </div>
                <div class="col-xs-9 character-stats-value">
                    @Model.UserClass.ToString()
                </div>
            </div>
            <div class="row character-stats-row">
                <div class="col-xs-3 character-stats-name">
                    Level:
                    <span class="character-stats-info">
                        Gaining levels will increase your stats. Levels also affects which equipment and spells you can use.
                    </span>
                </div>
                <div class="col-xs-9 character-stats-value">
                    @Model.Level
                </div>
            </div>
            <div class="row character-stats-row">
                <div class="col-xs-3 character-stats-name">
                    Exp:
                    <span class="character-stats-info">
                        Experience is gained by hunting monsters around the island.<br />
                        Left number indicates your current experience and<br />
                        the right number indicates how much you need for a level up.
                    </span>
                </div>
                <div class="col-xs-9 character-stats-value">
                    @Model.CurExp / @Model.MaxExp (@(MathHelper.CalcPercentage(Model.CurExp, Model.MaxExp))%)
                </div>
            </div>
            <div class="row character-stats-row">
                <div class="col-xs-3 character-stats-name">
                    Gold:
                    <span class="character-stats-info">
                        Gold is gained by hunting monsters, selling items and equipment.<br />
                        Spend it to get new items, equipments and spells.
                    </span>
                </div>
                <div class="col-xs-9 character-stats-value">
                    @Model.Gold
                </div>
            </div>

            <div class="sub-title extra-margin">
                <span class="sprite-icon sprite-icon-openbook"></span>
                Stats
            </div>
            <div class="row character-stats-row">
                <div class="col-xs-3 character-stats-name">
                    HP:
                    <span class="character-stats-info">
                        When your health reaches zero, the battle will end and you will not receive any rewards.<br />
                        You won't be able to fight any battles until you use an item to heal your health or<br />
                        wait until the hourly update that revives all dead players.
                    </span>
                </div>
                <div class="col-xs-9 character-stats-value">
                    @Model.CurHealth / @Model.MaxHealth
                </div>
            </div>
            <div class="row character-stats-row">
                <div class="col-xs-3 character-stats-name">
                    Energy:
                    <span class="character-stats-info">
                        Energy is needed to fight battles. It's replenished by one every half an hour.
                    </span>
                </div>
                <div class="col-xs-9 character-stats-value">
                    @Model.CurEnergy / @Model.MaxEnergy
                </div>
            </div>
            <div class="row character-stats-row">
                <div class="col-xs-3 character-stats-name">
                    Atk:
                    <span class="character-stats-info">
                        Attack affects how hard your character will hit with physical attacks.
                    </span>
                </div>
                <div class="col-xs-9 character-stats-value">
                    @Model.Attack
                </div>
            </div>
            <div class="row character-stats-row">
                <div class="col-xs-3 character-stats-name">
                    Def:
                    <span class="character-stats-info">
                        Defense affects how much damage you take from physical attacks.
                    </span>
                </div>
                <div class="col-xs-9 character-stats-value">
                    @Model.Defense
                </div>
            </div>
            <div class="row character-stats-row">
                <div class="col-xs-3 character-stats-name">
                    MAtk:
                    <span class="character-stats-info">
                        Magic attack affects how much damage your character will do with magical spells.
                    </span>
                </div>
                <div class="col-xs-9 character-stats-value">
                    @Model.MagicAttack
                </div>
            </div>
            <div class="row character-stats-row">
                <div class="col-xs-3 character-stats-name">
                    MDef:
                    <span class="character-stats-info">
                        Magic defense affects how much damage you take from magical spells.
                    </span>
                </div>
                <div class="col-xs-9 character-stats-value">
                    @Model.MagicDefense
                </div>
            </div>
            <div class="row character-stats-row">
                <div class="col-xs-3 character-stats-name">
                    Acc:
                    <span class="character-stats-info">
                        Accuracy affects your hit rate with physical and magical attacks.
                    </span>
                </div>
                <div class="col-xs-9 character-stats-value">
                    @Model.Accuracy
                </div>
            </div>
            <div class="row character-stats-row">
                <div class="col-xs-3 character-stats-name">
                    Eva:
                    <span class="character-stats-info">
                        Evasion affects your dodge rate against physical and magical attacks.
                    </span>
                </div>
                <div class="col-xs-9 character-stats-value">
                    @Model.Evasion
                </div>
            </div>
        </div>
    </div>
</div>