@using CrescentIsland.Website.Models
@using CrescentIsland.Website.Helpers
@model HeaderModel

<div id="nav-top" class="row">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-xs-6">
                <div class="character-name">
                    <div class="avatar">
                        <a href="@Url.Action("ChangeAvatar", "Manage", routeValues: null)">
                            <img src="@(AvatarHelper.GetAvatarUrl(Model.AvatarImage, Model.AvatarMimeType))" />
                        </a>
                    </div>

                    <div class="username">
                        <a href="@Url.Action("ChangeInfo", "Manage")">
                            @if (User.IsInRole("Administrator"))
                            {
                                <span class="admin-medal sprite-icon sprite-icon-medal"></span>
                            }
                            @Model.Username
                        </a>
                    </div>
                    <div class="level">
                        [@Model.Level]
                    </div>
                </div>

                <div class="health-energy">
                    <div class="health">
                        <span class="sprite-icon sprite-icon-redpotion"></span>
                        <span class="cur-health">@Model.CurHealth</span> / @Model.MaxHealth
                    </div>
                    <div class="energy">
                        <span class="sprite-icon sprite-icon-bread"></span>
                        <span class="cur-energy">@Model.CurEnergy</span> / @Model.MaxEnergy
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-4">
                <ul class="nav-character">
                    <li>
                        <a href="@Url.Action("Index", "Character", new { charname = Model.CharacterName })">
                            <span class="sprite-icon sprite-icon-character"></span>
                            Character
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Inventory", "Character")">
                            <span class="sprite-icon sprite-icon-bag"></span>
                            Inventory
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-2">
                <ul class="nav-login">
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </div>
        }
    }
    else
    {
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <ul class="nav-login">
                <li>
                    @Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </li>
                <li>
                    @Html.ActionLink("Register", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })
                </li>
            </ul>
        </div>
    }
</div>