<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The description of my page" />
    <title>@ViewBag.Title - Web RPG</title>
    <link rel="shortcut icon" href="/favicon.png?v=2" />
    @Styles.Render("~/styles/maincss")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @* Used for ajax in Global.AddAntiForgeryToken() *@
    <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

    <div class="container">
        <div id="global-animations"></div>

        <header>
            @Html.Partial("_Header")
        </header>

        <div id="main">
            <div class="row equal-row">
                <div class="col-lg-2 col-md-3 col-sm-4 equal-col">
                    @Html.Partial("_SideBar")
                </div>
                <div class="col-lg-10 col-md-9 col-sm-8 equal-col">
                    <div class="body-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>&copy; @DateTime.Now.Year - Crescent Island</p>
        </footer>
    </div>
    @*Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/mainjs")
    @RenderSection("scripts", required: false)
</body>
</html>
