@model CrescentIsland.Website.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <img src="@MvcApplication.GetGlobalModel().CurrentUser.AvatarUrl" />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Email:</dt>
        <dd>
            @if (Model.HasVerified)
            {
                <text>[Your e-mail has been verified]</text>
            }
            else
            {
                using (Html.BeginForm("SendVerification", "Manage", FormMethod.Post, new { id = "sendVerification" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[Your e-mail has not been verified yet. <a href="javascript:document.getElementById('sendVerification').submit()">Re-send verification e-mail</a>]</text>
                }
            }
        </dd>

    </dl>
</div>
