@using CrescentIsland.Website.Models
@model SetPasswordViewModel

@{
    ViewBag.Title = "Create Password";
}

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        @Html.Partial("_ManageMenu")
        @Html.HiddenFor(m => m.HasPassword)

        <h2 class="text-center">@ViewBag.Title</h2>

        <p>
            You do not have a local username/password for this site. Add a local
            account so you can log in without an external login.
        </p>

        @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row form-row">
                <div class="col-xs-6">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.NewPassword) })
                </div>
                <div class="col-xs-6">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                </div>
            </div>
            <div class="row form-row">
                <div class="col-xs-12">
                    <input type="submit" value="Set password" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
    <div class="col-xs-2"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}