@using CrescentIsland.Website.Models
@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <h2 class="text-center">@ViewBag.Title</h2>
        <section id="registerForm">
            @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <div class="row form-row">
                    @Html.EditorFor(m => m.UserClass)
                </div>

                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="row form-row">
                    <div class="col-xs-6">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.Username) })
                    </div>
                    <div class="col-xs-6">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.Email) })
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.Password) })
                    </div>
                    <div class="col-xs-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-6">
                        <div class="row">
                            @Html.LabelFor(m => m.Gender, new { @class = "col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.Gender, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 birthday">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Birthday</label>
                            </div>

                            <div class="col-md-12 col-lg-4">
                                @Html.DropDownListFor(m => m.Year, Model.YearList, "Year", new { @class = "form-control" })
                            </div>
                            <div class="col-md-6 col-lg-4">
                                @Html.DropDownListFor(m => m.Month, Model.MonthList, "Month", new { @class = "form-control" })
                            </div>
                            <div class="col-md-6 col-lg-4">
                                @Html.DropDownListFor(m => m.Day, Model.DayList, "Day", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-xs-2"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
