@using CrescentIsland.Website.Models
@using CrescentIsland.Website.Helpers
@model CharacterViewModel

@{
    ViewBag.Title = "Character";
}

<div class="row character-page">
    <div class="col-xs-12">
        @if (Model.UserFound)
        {
            <div class="col-xs-12 text-center text-teal">
                <h3>@(Model.Username)'s profile</h3>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5>Real name</h5>
                                @Model.FirstName @Model.LastName
                            </div>
                            <div class="col-xs-6">
                                <h5>Gender</h5>
                                @Html.Raw(Model.Gender)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h5>Age</h5>
                                @Html.Raw(Model.Age)
                            </div>
                            <div class="col-xs-6">
                                <h5>Country</h5>
                                @Model.Country
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>Biography</h5>
                                <div class="biography">
                                    @Html.Raw(Model.Biography)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <img src="@AvatarHelper.GetAvatarUrl(Model.AvatarImage, Model.AvatarMimeType)" class="avatar-image" />
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>

            if (Model.CharacterFound)
            {
                <div class="col-xs-12 text-center text-teal">
                    <h4>@(Model.CharacterName)'s stats</h4>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div class="row">
                        <div class="col-xs-6">
                            <h5>Level</h5>
                            @Model.Level
                        </div>
                        <div class="col-xs-6">
                            <h5>Account age</h5>
                            @Model.AccountAge
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h5>Gold</h5>
                            @Html.Raw(Model.Gold)
                        </div>
                        <div class="col-xs-6">
                            <h5>Last logged in</h5>
                            @Model.LastLogin
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <h5>Atk</h5>
                        </div>
                        <div class="col-xs-2">
                            <h5>Def</h5>
                        </div>
                        <div class="col-xs-2">
                            <h5>Matk</h5>
                        </div>
                        <div class="col-xs-2">
                            <h5>Mdef</h5>
                        </div>
                        <div class="col-xs-2">
                            <h5>Acc</h5>
                        </div>
                        <div class="col-xs-2">
                            <h5>Eva</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            @Model.Attack
                        </div>
                        <div class="col-xs-2">
                            @Model.Defense
                        </div>
                        <div class="col-xs-2">
                            @Model.MagicAttack
                        </div>
                        <div class="col-xs-2">
                            @Model.MagicDefense
                        </div>
                        <div class="col-xs-2">
                            @Model.Accuracy
                        </div>
                        <div class="col-xs-2">
                            @Model.Evasion
                        </div>
                    </div>
                </div>
                <div class="col-xs-2"></div>
            }
            else
            {
                <div class="col-xs-12 text-center text-danger"><h3>Character not found</h3></div>
            }
        }
        else
        {
            <div class="col-xs-12 text-center text-danger"><h3>User not found</h3></div>
        }
    </div>
</div>